<!DOCTYPE html>
{%extends 'budget/base.html'%}
{%load static%}

{%block body_block%}
<link rel="stylesheet" type="text/css" href="{% static 'css/hover.css' %}">
<div class="row">
<div class="col-12">
    <div class="card" style="width:55rem;height:10rem;margin-left:5rem;margin-top:2rem">
    <div class="card-body">
    <h5 class="card-title">Simple money tracker</h5>
    <p class="card-text">It takes seconds to record daily transactions. Put them into clear and visualized categories such as Expense: Food, Shopping or Income: Salary, Gift.</p>
    </div>
</div>
<div class="card" style="width:55rem;height:10rem;margin-left:5rem;margin-top:2rem">
    <div class="card-body">
    <h5 class="card-title">Painless Budgeting</h5>
    <p class="card-text">Set budgets that are easy to stick to, based on your own spending habits. You’re one step closer to that stuff you want to buy.</p>
    </div>
</div>
<div class="card" style="width:55rem;height:10rem;margin-left:5rem;margin-top:2rem">
    <div class="card-body">
    <h5 class="card-title">The whole picture in one place</h5>
    <p class="card-text">One report to give a clear view on your spending patterns. Understand where your money comes and goes with easy-to-read graphs.</p>
    </div>
</div>
</div>
</div>
{%endblock%}